<footer
    class="page_footer ls ms s-pt-80 s-pb-70 s-py-lg-120 s-pt-xl-135 s-pb-xl-105 c-gutter-60 text-center text-md-left">
    <div class="container">
        <div class="row">
            <div class="divider-20 d-none d-xl-block"></div>
            <div class="col-md-5 animate" data-animation="fadeInUp">
                <div class="widget widget_text">
                    <img src="image/fp-logo-footer.png" width="40%" alt="FirstPavilionLogo">
                    <p>
                        We are a modern Information and Communication Technology Company with qualified and
                        friendly staff capable of turning your ICT issues into the futuristic innovation you
                        have in mind.
                    </p>
                    <p>We offer various services ranging from ICT consultancy to Software services.</p>
                    <div class="widget widget_social_buttons">
                        <a href="https://facebook.com/firstpavilionng" target="_blank" title="facebook"
                            data-toggle="tooltip">
                            <i class="fab fa-facebook text-primary rounded-icon mr-5"></i>
                        </a>
                        <a href="https://twitter.com/@firstpavilionng" target="_blank" title="twitter"
                            data-toggle="tooltip">
                            <i class="fab fa-twitter text-info rounded-icon mr-5"></i>
                        </a>
                        <a href="https://instagram.com/firstpavilionng" target="_blank" title="instagram"
                            data-toggle="tooltip">
                            <i class="fab fa-instagram text-danger rounded-icon"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 animate" data-animation="fadeInUp">
                <div class="widget services-links">
                    <h4 class="widget-title">Quick Link</h4>
                    <ul>
                        <li class="cat-item">
                            <i class="fas fa-check text-info mr-3"></i>
                            <a href="/about">About Us</a>
                        </li>
                        <li class="cat-item">
                            <i class="fas fa-check text-info mr-3"></i>
                            <a href="/space">Co-working space</a>
                        </li>
                        <li class="cat-item">
                            <i class="fas fa-check text-info mr-3"></i>
                            <a href="/academy">I/O Academy</a>
                        </li>
                        <li class="cat-item">
                            <i class="fas fa-check text-info mr-3"></i>
                            <a href="/contact">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 animate" data-animation="fadeInUp">
                <div class="widget widget_icons_list">
                    <h4 class="widget-title">Call Us</h4>
                    <p>
                        <a href="tel:+2349020455349">+2349020455349</a>
                    </p>
                    <a href="mailto: info@firstpavitech.com" class="small-text">
                        <i class="fas fa-envelope color-main fs-14"></i>
                        Email us
                    </a>
                    <h4 class="widget-title">Visit Us</h4>
                    <p>4, Law castle 3rd Floor opposite Fidelity Bank, Agboole Aro, Omida, Abeokuta, Ogun
                        State</p>
                    <a href="#location" class="small-text">
                        <i class="fa fa-map-marker color-main3 fs-14"></i>
                        Get Direction
                    </a>
                </div>
                <div class="divider-45 d-none d-md-block d-xlz-none"></div>
            </div>
        </div>
    </div>
</footer>
<section class="page_copyright ds s-py-10 background-gradient2">
    <div class="container">
        <div class="row align-items-center">
            <div class="divider-15 d-none d-lg-block"></div>
            <div class="col-md-12 text-center">
                <p>&copy; Copyright <span class="copyright_year" id="yr"></span> All Rights Reserved</p>
            </div>
            <div class="divider-15 d-none d-lg-block"></div>
        </div>
    </div>
</section>