<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<title>First Pavilion Technologies | Official</title>
	<meta charset="utf-8">
	<!--[if IE]>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="image/fp-logo-big.png" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/animations.css">
	<link rel="stylesheet" href="css/main.css" class="color-switcher-link">
	<link rel="stylesheet" href="css/testimonie.css">
	<script src="js/vendor/modernizr-2.6.2.min.js"></script>

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
	<![endif]-->

</head>

<body>
	<!--[if lt IE 9]>
		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
	<![endif]-->

	<div class="preloader text-center" style="padding-top: 50vh;">
		<div class="spinner-grow text-primary"></div>
	</div>

	<!-- wrappers for visual page editor and boxed version of template -->
	<div id="canvas">
		<div id="box_wrapper">

			<!-- template sections -->

			<!--topline section visible only on small screens|-->

			<section class="page_topline ls s-borderbottom c-my-20">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-6 text-md-left text-center">
							<ul class="top-includes">
								<li>
									<span class="icon-inline">
										<span class="icon-styled color-main2 fs-14">
											<img src="image/fp-logo-big.png" width="20" height="20" alt="FirstPavilionLogo">
										</span>
										<span class="small-text">
											<span class="small-text">
												<a class="hover-main2" href="/"> First Pavilion Technologies</a>
											</span>
										</span>
									</span>
								</li>
								{{!-- <li>
									<span class="icon-inline">
										<span class="icon-styled color-main2 fs-14">
											<i class="fa fa-user"></i>
										</span>
										<span class="small-text">
											<a class="hover-main2" href="/login"> Login in</a>
										</span>
									</span>
								</li> --}}
							</ul>
						</div>
						<div class="col-md-6 text-center text-md-right d-none d-md-block">
							<ul class="top-includes">
								<li>
									<span class="icon-inline">
										<span class="icon-styled color-main fs-14">
											<i class="fa fa-phone"></i>
										</span>
										<span class="small-text">
											<a href="tel:+2349020455349">+234 902 045 5349</a>
										</span>
									</span>
								</li>
								<li>
									<span class="icon-inline">
										<span class="icon-styled color-main fs-14">
											<i class="fa fa-pen"></i>
										</span>
										<span class="small-text">
											<a href="mailto:info@firstpavitech.com">info@firstpavitech.com</a>
										</span>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!--eof topline-->
			
			<div class="header_absolute header_layout_1">
				<!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
				<header class="page_header ls justify-nav-end">
					<div class="container-fluid">
						<div class=" justify-content-center">
							<div class="col-xl-10 col-lg-10 col-md-10 col-1">
								<div class="nav-wrap">
			
									<!-- main nav start -->
									<nav class="top-nav">
										<ul class="nav sf-menu">
			
											<li>
												<a href="/">Home</a>
											</li>
			
											<li class="active">
												<a href="/about">About Us</a>
											</li>
											<!-- eof pages -->
			
											<li>
												<a href="/space">Co-workingSpace</a>
											</li>
			
											<li>
												<a href="/academy">I/O Academy</a>
											</li>
			
											<li>
												<a href="/contact">Contact Us</a>
											</li>
										</ul>
			
									</nav>
									<!-- eof main nav -->
								</div>
							</div>
						</div>
					</div>
					<!-- header toggler -->
					<span class="toggle_menu position-fixed" style="top: 100px"><span></span></span>
				</header>
			</div>

			<section class="page_title cs s-pt-60 s-pb-10 s-pt-lg-130 s-pb-lg-60 page_title text-center page_slider">
				<div id="particles-js"></div>
				<img src="image/slide.jpg" alt="" style="height: 55vh;">
				<div class="container-fluid">
					<div class="row">
						<div class="divider-60"></div>
						<div class="col-md-12 text-center">
							<h1>About us</h1>
						</div>
						<div class="divider-50"></div>
					</div>
				</div>
				<ol class="breadcrumb full-width bg-maincolor">
					<li class="breadcrumb-item">
						<a href="/">Home</a>
					</li>
					<li class="breadcrumb-item active">
						About
					</li>
				</ol>
			</section>

		</div>
	</div>


	{{!-- Brief Info on first pavilion--}}
	<section class="s-pt-80 s-pb-20 s-pt-lg-100 s-pb-lg-50 s-pt-xl-150 s-pb-xl-80 c-gutter-60 c-mb-50" id="advantage">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center" id="price">
					<h5 class="special-heading text-center mb-2">First Pavilion</h5>
					<h3 class="text-center indigo-text">Technologies</h3>
				</div>
				<p>
					We are a modern Information and Communication Technology Company with qualified and friendly staff
					capable of turning your ICT issues into the futuristic innovation you have in mind. We offer various
					services ranging from ICT consultancy to Software services.
				</p>
				<p>
					Our company is known to have a meticulous approach to work, paying attention to even the most
					minuscule detail. Multitask and work under pressure thus effectively managing our time to meet
					deadlines while giving you quality results with high standards.
				</p>
				<p>
					Through our services and dedicated commitment to your innovative future, we help you take your
					business(es) into the next level of innovation bringing about rapid and positive turnover.
				</p>
			</div>
		</div>
	</section>
	{{!-- Brief info on first pavilion--}}

	<!-- start work-process -->
	<section class="bg-maincolor s-pt-80 s-pb-20 s-pt-lg-100 s-pb-lg-50 s-pt-xl-150 s-pb-xl-80 c-gutter-60 c-mb-50">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center" id="price">
					<h5 class="special-heading text-center mb-2">Why Choose Us</h5>
					<h3 class="text-center">Trusted company in IT services</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 animate" data-animation="fadeInLeftBig">
					<h5>Conversation with Client</h5>
					<p>We discuss the problem in-depth with the Client. Understand the requirements and what's
						expected of us.</p>
				</div>
				<div class="col-lg-4 animate" data-animation="fadeInLeftBig">
					<h5>Research the relevant problem</h5>
					<p>We research and break down the task into smaller and simpler units, assign tasks and set a
						deadline.</p>
				</div>
				<div class="col-lg-4 animate" data-animation="fadeInLeftBig">
					<h5>Start the project</h5>
					<p>We start the project, implementing Agile Methodology.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end work-process -->



	{{!-- Brief Info on services --}}
	<section class="s-pt-80 s-pb-50 s-pt-lg-120 s-pb-lg-90 s-pt-xl-160 s-pb-xl-130 c-gutter-30 c-mb-30 service-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-lg-center">
					<h5 class="special-heading">Check out</h5>
					<h3 class="text-uppercase">our Services</h3>
				</div>
			</div>
			<div class="row" id="service">

				<div class="col-lg-4 col-sm-6">

					<div class="vertical-item rounded rounded-image-top hero-bg content-padding padding-small text-center animate" style="min-height: 100%;"  data-animation="fadeInLeftBig">
						<div class="item-media">
							<img src="services/consult.jpg" alt="" style="min-height: 100%;">
						</div>
						<div class="item-content">
							<h5 class="service-title">
								Consultancy
							</h5>

							<p> We are not just professionals, we are ever ready to offer a professional ICT
								consultant service
							</p>

						</div>
					</div>
				</div><!-- .col-* -->
				<div class="col-lg-4 col-sm-6">
					<div class="vertical-item rounded rounded-image-top hero-bg content-padding padding-small text-center animate" style="min-height: 100%;" data-animation="fadeInLeftBig">
						<div class="item-media">
							<img src="services/mobile-web.jpg" alt="" style="min-height: 100%;">
						</div>
						<div class="item-content">
							<h5 class="service-title">
								Mobile & Web Solutions
							</h5>

							<p>
								Need a Mobile Solution, Website or Web Application? We offer the best
								application develop
							</p>

						</div>
					</div>
				</div><!-- .col-* -->
				<div class="col-lg-4 col-sm-6">

					<div class="vertical-item rounded rounded-image-top hero-bg content-padding padding-small text-center animate" style="min-height: 100%;" data-animation="fadeInLeftBig">
						<div class="item-media">
							<img src="services/integration.jpg" alt="" style="min-height: 100%;">
						</div>
						<div class="item-content">
							<h5 class="service-title">
								System Integration
							</h5>

							<p>
								Integrating 3rd Party Applications into your portfolio has never been easier, To
								improve productivity and quality of your operations.
							</p>

						</div>
					</div>
				</div><!-- .col-* -->
				<div class="col-lg-4 col-sm-6">

					<div class="vertical-item rounded rounded-image-top hero-bg content-padding padding-small text-center animate" style="min-height: 100%;" data-animation="fadeInRightBig">
						<div class="item-media">
							<img src="services/enterprise.jpg" alt="">
						</div>
						<div class="item-content">
							<h5 class="service-title">
								Enterprise Applications
							</h5>

							<p>
								We offer software solutions that provide business logic and tools to model
								entire business process for organisations to improve productivity and
								efficiency.
							</p>

						</div>
					</div>
				</div><!-- .col-* -->
				<div class="col-lg-4 col-sm-6">

					<div class="vertical-item rounded rounded-image-top hero-bg content-padding padding-small text-center animate" style="min-height: 100%;" data-animation="fadeInRightBig">
						<div class="item-media">
							<img src="services/cloud.jpg" alt="">
						</div>
						<div class="item-content">
							<h5 class="service-title">
								Cloud Services
							</h5>

							<p>
								Every Business Need a Cloud service, These services are designed to provide
								easy, affordable access to applications and resources, without the need for
								internal infrastructure or hardware.
							</p>

						</div>
					</div>
				</div><!-- .col-* -->
				<div class="col-lg-4 col-sm-6">
					<div class="vertical-item rounded rounded-image-top hero-bg content-padding padding-small text-center animate" style="min-height: 100%;" data-animation="fadeInRightBig">
						<div class="item-media">
							<img src="services/academy.jpg" alt="">
						</div>
						<div class="item-content">
							<h5 class="service-title">
								IO Academy
							</h5>

							<p>
								IO Academy is a Training and Knowledge Transfer, With a team of multi-talented
								individuals, we also provide trainings to interested parties on varieties of
								Packages.
							</p>

						</div>
					</div>
					{{!-- <div class="vertical-item rounded rounded-image-top hero-bg content-padding padding-small text-center"
						style="min-height: 100%;">
						<div class="item-media">
							<div class="" style="background-image: url(services/academy.jpg); ">
								<div class="rgba-blue-strong" style="padding: 35%">
								</div>
							</div>
						</div>
						<div class="item-content">
							<h5 class="service-title">
								IO Academy
							</h5>

							<p>
								IO Academy is a Training and Knowledge Transfer, With a team of multi-talented
								individuals, we also provide trainings to interested parties on varieties of
								Packages.
							</p>

						</div>
					</div> --}}
				</div><!-- .col-* -->
			</div>
		</div>
	</section>
	{{!-- Brief info on services ends here --}}

	{{!-- footer --}}
	<footer
		class="page_footer ls ms s-pt-80 s-pb-70 s-py-lg-120 s-pt-xl-135 s-pb-xl-105 c-gutter-60 text-center text-md-left">
		<div class="container">
			<div class="row">
				<div class="divider-20 d-none d-xl-block"></div>
				<div class="col-md-5 animate" data-animation="fadeInUp">
					<div class="widget widget_text">
						<img src="image/fp-logo-footer.png" width="40%" alt="FirstPavilionLogo">
						<p>
							We are a modern Information and Communication Technology Company with qualified and
							friendly staff capable of turning your ICT issues into the futuristic innovation you
							have in mind.
						</p>
						<p>We offer various services ranging from ICT consultancy to Software services.</p>
						<div class="widget widget_social_buttons">
							<a href="https://facebook.com/firstpavilionng" target="_blank" title="facebook"
								data-toggle="tooltip">
								<i class="fab fa-facebook text-primary rounded-icon mr-5"></i>
							</a>
							<a href="https://twitter.com/@firstpavilionng" target="_blank" title="twitter"
								data-toggle="tooltip">
								<i class="fab fa-twitter text-info rounded-icon mr-5"></i>
							</a>
							<a href="https://instagram.com/firstpavilionng" target="_blank" title="instagram"
								data-toggle="tooltip">
								<i class="fab fa-instagram text-danger rounded-icon"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-4 animate" data-animation="fadeInUp">
					<div class="widget services-links">
						<h4 class="widget-title">Quick Link</h4>
						<ul>
							<li class="cat-item">
								<i class="fas fa-check text-info mr-3"></i>
								<a href="/about">About Us</a>
							</li>
							<li class="cat-item">
								<i class="fas fa-check text-info mr-3"></i>
								<a href="/space">Co-working space</a>
							</li>
							<li class="cat-item">
								<i class="fas fa-check text-info mr-3"></i>
								<a href="/academy">I/O Academy</a>
							</li>
							<li class="cat-item">
								<i class="fas fa-check text-info mr-3"></i>
								<a href="/contact">Contact Us</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-3 animate" data-animation="fadeInUp">
					<div class="widget widget_icons_list">
						<h4 class="widget-title">Call Us</h4>
						<p>
							<a href="tel:+2349020455349">+2349020455349</a>
						</p>
						<a href="mailto:info@firstpavitech.com" class="small-text">
							<i class="fas fa-envelope color-main fs-14"></i>
							Email us
						</a>
						<h4 class="widget-title">Visit Us</h4>
						<p>4, Law castle 3rd Floor opposite Fidelity Bank, Agboole Aro, Omida, Abeokuta, Ogun
							State</p>
						<a href="#location" class="small-text">
							<i class="fa fa-map-marker color-main3 fs-14"></i>
							Get Direction
						</a>
					</div>
					<div class="divider-45 d-none d-md-block d-xlz-none"></div>
				</div>
			</div>
		</div>
	</footer>
	<section class="page_copyright ds s-py-10 background-gradient2">
		<div class="container">
			<div class="row align-items-center">
				<div class="divider-15 d-none d-lg-block"></div>
				<div class="col-md-12 text-center">
					<p>&copy; Copyright <span class="copyright_year" id="yr"></span> All Rights Reserved</p>
				</div>
				<div class="divider-15 d-none d-lg-block"></div>
			</div>
		</div>
	</section>
	</div><!-- eof #box_wrapper -->
	</div><!-- eof #canvas -->


	<!-- jQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
	{{!-- This is font awesome cdn --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/js/all.min.js"></script>
	{{!-- year counter --}}
	<script src="js/footerFullYr.js"></script>
	{{!-- custom CSS --}}
	<script src="js/compressed.js"></script>
	<script src="js/main.js"></script>


</body>

</html>