<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{{!-- css header files --}}
{{>header}}

<body>
    <!--[if lt IE 9]>
    		<div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="color-main">upgrade your browser</a> to improve your experience.</div>
    	<![endif]-->

    <div class="preloader text-center" style="padding-top: 50vh;">
        <div class="spinner-grow text-primary"></div>
    </div>

    <!-- wrappers for visual page editor and boxed version of template -->
    <div id="canvas">
        <div id="box_wrapper">

            {{!-- topbar menus --}}
            {{>topbar}}

            <div class="header_absolute header_layout_1">
                <!-- header with two Bootstrap columns - left for logo and right for navigation and includes (search, social icons, additional links and buttons etc -->
                <header class="page_header ls justify-nav-end">
                    <div class="container-fluid">
                        <div class=" justify-content-center">
                            <div class="col-xl-10 col-lg-10 col-md-10 col-1">
                                <div class="nav-wrap">

                                    <!-- main nav start -->
                                    <nav class="top-nav">
                                        <ul class="nav sf-menu">

                                            <li>
                                                <a href="/">Home</a>
                                            </li>

                                            <li>
                                                <a href="/about">About Us</a>
                                            </li>
                                            <!-- eof pages -->

                                            <li>
                                                <a href="/space">Co-workingSpace</a>
                                            </li>

                                            <li class="active">
                                                <a href="/academy">I/O Academy</a>
                                            </li>

                                            <li>
                                                <a href="/contact">Contact Us</a>
                                            </li>
                                        </ul>

                                    </nav>
                                    <!-- eof main nav -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- header toggler -->
                    <span class="toggle_menu position-fixed" style="top: 100px"><span></span></span>
                </header>
            </div>

            <section class="page_title cs s-pt-60 s-pb-10 s-pt-lg-130 s-pb-lg-60 page_title text-center page_slider">
                <div id="particles-js"></div>
                <img src="image/slide.jpg" alt="" style="height: 55vh;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="divider-60"></div>
                        <div class="col-md-12 text-center">
                            <h1>I/O Academy</h1>
                        </div>
                        <div class="divider-50"></div>
                    </div>
                </div>
                <ol class="breadcrumb full-width bg-maincolor">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Academy
                    </li>
                </ol>
            </section>

            {{!-- </div>
                </div> --}}

            <section
                class="s-pt-80 s-pb-20 s-pt-lg-120 s-pb-lg-70 s-pt-xl-160 s-pb-xl-100 c-gutter-60 c-mb-50 advantage-section cover-background">
                <div class="container">
                    <div class="col-lg-8 offset-lg-2">
                        <h5 class="special-heading text-center">Join Our</h5>
                        <h1 class="text-center text-primary">I/O Academy</h1>
                        <p class="text-center big">Join Our Training Sessions and Build your expertise, Best Student
                            Gets an Internship with First Pavilion.</p>
                    </div>
                </div>
            </section>

            <section
                class="ds bg-maincolor s-pt-80 s-pb-20 s-pt-lg-120 s-pb-lg-70 s-pt-xl-160 s-pb-xl-100 c-gutter-60 c-mb-50 advantage-section cover-background">
                <div class="container">
                    <div class="row">
                        {{#each package}}
                        <div class="col-xl-4 col-md-6 animate" data-animation="fadeInLeftBig">
                            <div class="vertical-item rounded rounded-image-top hero-bg content-padding padding-small text-center "
                                style="min-height: 100%;">
                                <div class="item-media shadow">
                                    <img src="{{image}}" alt="package image">
                                </div>
                                <div class="item-content">
                                    <h5 class="service-title">
                                        {{title}}
                                    </h5>

                                    <p>
                                        {{body}}
                                    </p>

                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <div class="d-none d-lg-block divider-small"></div>

                    </div>
                </div>
            </section>

            {{!-- footers for our website --}}
            {{>footer}}
        </div><!-- eof #box_wrapper -->
    </div><!-- eof #canvas -->

    {{>scriptTemplate}}

</body>

</html>